.helptab {
    position: relative;
}
 
.helptab img.helpimg {
  position: absolute;
  z-index: 99;
  top: -160px;
  left: 30px;
  width: 10rem;
  max-width: none;
  height: 150px;
  width: 275px;
  transform: scale(0);
  transform-origin: bottom left;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
 
}
 
.helptab:hover img.helpimg {
    transform: scale(1);
    opacity: 1;
}